/*.mountain-line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

.mountain-line.hover {
	stroke: red;
	cursor: pointer;
}*/

.mountain-area {
	fill:lightsteelblue;;
}

.mountain-area.hover{
  fill: lightsteelblue;
}
body, html {
    height: 100%;
    margin: 0;
    max-width: 1440px;
}

.cover {
	position: relative;
	width: 100%;
	  height:100vh;
	/*background-image: url("../images/background-lossy-cropped.gif");*/


}
.headings .title {
	text-align: center;
    position: absolute;
    top: 15%;
    right: 15%;
    z-index: 3;
    color: #FFF;
    font-size: 50px;
    width: 373.28px;

}

.cover .filter {
	background-color: black;
	width: 100%;
	height: 30%;
	opacity: 0.5;
	position: absolute;
	top: 70%;
	z-index: 2;
	font-family: 'Merriweather', serif;
}
.cover .headings {
	text-align: center;
	width: 100%;
	height: 30%;
	
	position: absolute;
	top: 70%;
	z-index: 3;
	font-family: 'Merriweather', serif;
}



.cover .headings .dashlineouter {
	


    text-align: center;
    position: absolute;
   	top: 50%;
    right: 15%;
    z-index: 3;
     width: 373.28px;
     height: 1px;
    	display: block;
	margin: 0 auto;
   


}

.cover .headings .dashline {

	display: block;
	margin: 0 auto;

    text-align: center;
   

    z-index: 3;
    color: #FFF;
         height: 1px;
    width: 175px;
      border-bottom: 2px solid white;


}
.headings .subhead {
	text-align: center;
    position: absolute;
   	top: 60%;
    right: 15%;
    z-index: 3;
    color: #FFF;
    font-size: 20px;
    width: 373.28px;
   

}

.parallax {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {

	position: relative;
}

.peakssvg {
	display: block;
	margin: auto;
}

.mountain-path {
	stroke: #fff;
}

.mountain-dot {
	fill: #C0C0C0;
	opacity: 0.5;
}

.tooltip {
    position: absolute;
    font-family: 'Roboto';
    font-size: 14px;
    z-index: 1000000000;
    text-align: left;
    width: auto;
    color: #353535;
    visibility: hidden;
    pointer-events: none;
   
    background: black;
    padding: 0.4em;
    height: auto;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 5px;
    opacity: 0.6;
}

.mountain-path {
	fill: #201f1b;
	stroke: #000;
}


.mountain-line {
	stroke: #C0C0C0;
	stroke-width: 3px;
	stroke-linecap: round;
	opacity: 0;
}

.mountain-line.mountain-group {
	stroke: #C0C0C0;
	opacity: 0.3;
}

.mountain-line.mountain-group.mountain-selected {
	stroke: #EE7600;
	
}

.mountain-line.mountain-selected {
	opacity: 0.8;
	stroke-width: 3px;
}

.awesomplete {


}

.finder {

	padding-top: 3rem;
	display: block;
    max-width: 15rem;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    position: relative;
}
#myinput {
	font-family: 'Roboto';
	background: 0 0;
    width: 100%;
    border: none;
    outline: 0;
    font-size: 1em;
    color: #fff;

}

.find__icon {
	position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    vertical-align: middle;
    margin: 0;
    pointer-events: none;
    opacity: .7;
    transition: opacity .25s;
    width: 20px;
    height: 26px;
   }

.find__icon svg {
    width: 20px;
    height: 26px;
    fill: #fff;
}

.tooltip-header {
	color: #C0C0C0;

}

.peaks {
		background-color: #201f1b;
	position: relative;
}

.annotations .labels {
	font-family: "Roboto";
  text-transform: uppercase;
  fill: white;
  font-size: 16px;
  font-weight:900;
  opacity: 0.8;
}

.annotations .summit-info {
	font-family: "Roboto";
	font-size: 16px;
	fill: white;

}

.prose {
	padding-top: 30px;
	padding-bottom: 30px;

}
p {
	display: block;
	margin: 0 auto;
	font-family: "Merriweather";
    font-size: 15px;
    line-height: 1.9;
    max-width: 35rem;
    padding: 1rem;
    text-align: left;

}

h2 {
	display: block;
	margin: 0 auto;
	font-family: "Merriweather";
	font-size: 28px;
	 max-width: 35rem;
	 text-align: center;
	 margin-top: 15px;
}

.peakcontainer {
	position: relative;
}
.countries {

}
#countriesdiv {
	display: block;
	margin: 0 auto;
	max-width: 1220px;




}
.rc-slider {



}
/*.mapboxcontainer { 
	display: block;
	margin: 0 auto;
	max-width: 1220px;
	height: 500px; 
}

.mapboxcontainer2 { 
	display: block;
	margin: 0 auto;
	max-width: 1220px;
	height: 500px; 
}


[data-reactroot] { 
	display: block;
	margin: 0 auto;
	max-width: 1220px;
	height: 650px; 
}*/

.histogram-chart-toggle-wrapper{
    
    margin: 0 auto;
    width: 148px;
  
    /* -webkit-transform: translate(105px,0px); */
    /* display: none; */
  }

  .toggle-selected {
    font-weight: 500;
    background-color: #F5F5F5;
    color: black;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    border-color: #dad9e3;
}
  .histogram-chart-toggle-type{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* display: none; */
}
 .front-curve {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.back-curve {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.histogram-chart-toggle-item{
      
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    border: 1px solid rgb(218, 217, 227);
    color: black;
    cursor: pointer;
    /* border: solid 1px rgba(127, 125, 156, 0.75); */
    padding: 0px 7px;
    /* box-shadow: inset 0 1px 2px rgba(0,0,0,0.08); */

    background: white;
    text-align: center;
    line-height: 23px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    margin: 0;
    background-color: #fff;
    /* height: 28px; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calendar {
	display: block;
	margin: 0 auto;
	max-width: 747px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.cells :hover circle {
  fill: red;
}
@media only screen and (max-width: 600px) { 

	.headings .title {
		
	    font-size: 42px;
	     text-align: center;
	     right: 2.5%;

	}
	.headings .subhead {
				
	    font-size: 20px;
	     text-align: center;
	     right: 2.5%;


	}


.cover .headings .dashlineouter {
			
	   right: 2.5%;
 


}

.finder {

	padding-top: 1rem;
	

}



}