/*.mountain-line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

.mountain-line.hover {
	stroke: red;
	cursor: pointer;
}*/

.mountain-area {
	fill:lightsteelblue;;
}

.mountain-area.hover{
  fill: lightsteelblue;
}
body, html {
    height: 100%;
    margin: 0;
}

.cover {
	position: relative;
	width: 100%;
	  height:100vh;
	background-image: url("../images/background-lossy-cropped.gif");


}
.headings .title {
	text-align: center;
    position: absolute;
    top: 15%;
    right: 275px;
    z-index: 3;
    color: #FFF;
    font-size: 50px;

}

.cover .filter {
	background-color: black;
	width: 100%;
	height: 30%;
	opacity: 0.5;
	position: absolute;
	top: 70%;
	z-index: 2;
	font-family: 'Merriweather', serif;
}
.cover .headings {

	width: 100%;
	height: 30%;
	
	position: absolute;
	top: 70%;
	z-index: 3;
	font-family: 'Merriweather', serif;
}



.cover .headings .dashline {
	text-align: center;
    position: absolute;
    top: 50%;
    right: 355px;
    z-index: 3;
    color: #FFF;
    font-size: 20px;
    width: 200px;

}
.headings .subhead {
	text-align: center;
    position: absolute;
   	top: 65%;
    right: 295px;
    z-index: 3;
    color: #FFF;
    font-size: 20px;
    width: 335px;

}

.parallax {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
	background-color: #171613;
}

.peakssvg {
	display: block;
	margin: auto;
}

.mountain-path {
	stroke: #fff;
}

.mountain-dot {
	fill: #FF4500;
}

.tooltip {
    position: absolute;
    font-family: 'Roboto';
    font-size: 14px;
    z-index: 1000000000;
    text-align: left;
    width: auto;
    color: #353535;
    visibility: hidden;
    pointer-events: none;
    border: 1px solid rgba(193, 193, 193, 0.8);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    background: white;
    padding: 0.75em;
    height: auto;
}

.mountain-path {
	fill: #171613;
	stroke: #000;
}


.mountain-line {
	stroke: #FF4500;
	stroke-width: 1.5px;
}

.mountain-group {
	stroke: #C0C0C0;
	opacity: 0.3;
}

.mountain-selected {
	stroke: #FF4500;
	opacity: 1;
}

.mountain-line.mountain-selected {
	stroke-width: 3px;
}

.awesomplete {


}

.finder {

	padding-top: 5rem;
	display: block;
    max-width: 20rem;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    position: relative;
}
#myinput {
		font-family: 'Roboto';
	background: 0 0;
    width: 100%;
    border: none;
    outline: 0;
    font-size: 1em;
    color: #fff;

}

